packages:
  yum:
    epel-release: []
    python3-certbot-nginx: []

  01_get_certificate:
    command: "certbot --nginx -d kehilaserverbeanstalk-env.eba-sruyaeey.us-east-1.elasticbeanstalk.com/ -m kehilacharity@gmail.com --agree-tos --non-interactive"
    ignoreErrors: true

container_commands:
  01_add_ssl_configuration:
    command: |
      if grep -q 'listen 443 ssl;' /etc/nginx/nginx.conf; then
        echo "SSL already configured."
      else
        echo "Updating Nginx configuration for SSL."
        sed -i '/server {/a \\tlisten 443 ssl;\n\tssl_certificate /etc/letsencrypt/live/kehilaserverbeanstalk-env.eba-sruyaeey.us-east-1.elasticbeanstalk.com/fullchain.pem;\n\tssl_certificate_key /etc/letsencrypt/live/kehilaserverbeanstalk-env.eba-sruyaeey.us-east-1.elasticbeanstalk.com/privkey.pem;' /etc/nginx/nginx.conf
      fi
  02_restart_nginx:
    command: "service nginx restart"